<!-- @switch (stepperOrientation | async) {
  @case ('horizontal') {
    <div>Make your screen smaller to see a vertical stepper</div>
  }
  @case ('vertical') {
    <div>Make your screen larger to see a horizontal stepper</div>
  }
} -->

<mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="firstFormGroup" label="Fill the client's name">
    <form [formGroup]="firstFormGroup">
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
      <mat-form-field>
        <mat-label>Client's Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Choose the products">
    <form [formGroup]="secondFormGroup">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>

      <h2>Product of the New Order:</h2>
      <section cdkDropList class="orderProducts">
      </section>

      <mat-tab-group class="example-stretched-tabs mat-elevation-z4">
        <mat-tab *ngFor="let tab of categories">
          <ng-template mat-tab-label>
            <!-- <mat-icon class="example-tab-icon">{{tab}}</mat-icon> -->
            {{tab}}
          </ng-template>
          <section cdkDropList class="products">
            <div *ngFor="let prod of products">
              <!-- <div > -->
                <mat-card cdkDrag class="example-card" *ngIf="prod.type === tab">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': prod.image}"></div>
                    <mat-card-title>{{prod.name}}</mat-card-title>
                    <mat-card-subtitle>${{prod.price}}</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              <!-- </div> -->
            </div>
          </section>    
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Check the order">
    <form [formGroup]="thirdFormGroup">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <section class="products orderTickets">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          </mat-card-header>
          <img mat-card-image src="prod.image" alt="Photo of a product">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </section>
    <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
      </mat-form-field>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Send</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
